In [1]:
#import panda package
import pandas as pd

In [2]:
clean_df=pd.read_csv("/Users/sa19/Desktop/Phase2TLAB1/PS_20174392719_1491204439457_log copy.csv")

In [3]:
#Find and sum all null values within dataset
clean_df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [4]:
#Find duplicates within dataset
clean_df.duplicated().sum()

0

In [5]:
#Drop unwanted columns such as step,nameDest,nameOrig and isFlaggedFraud
clean_df.drop(columns=["step","nameDest","nameOrig","isFlaggedFraud"],inplace=True)

In [6]:
#Rename columns 
clean_df.rename(columns={"type":"transaction_type","amount":"transaction_amount"}, inplace=True)
clean_df

,transaction_type,transaction_amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
0,PAYMENT,9839.64,170136.00,160296.36,0.00,0.00,0
1,PAYMENT,1864.28,21249.00,19384.72,0.00,0.00,0
2,TRANSFER,181.00,181.00,0.00,0.00,0.00,1
3,CASH_OUT,181.00,181.00,0.00,21182.00,0.00,1
4,PAYMENT,11668.14,41554.00,29885.86,0.00,0.00,0
...,...,...,...,...,...,...,...
6362615,CASH_OUT,339682.13,339682.13,0.00,0.00,339682.13,1
6362616,TRANSFER,6311409.28,6311409.28,0.00,0.00,0.00,1
6362617,CASH_OUT,6311409.28,6311409.28,0.00,68488.84,6379898.11,1
6362618,TRANSFER,850002.52,850002.52,0.00,0.00,0.00,1
6362619,CASH_OUT,850002.52,850002.52,0.00,6510099.11,7360101.63,1

In [14]:
# Create new DateFrame for data that will be used for modeling.

TypeA_df = pd.DataFrame({"transaction_amount":clean_df["transaction_amount"],
                         "transaction_type":clean_df["transaction_type"],
                         "oldbalanceOrg":clean_df["oldbalanceOrg"],
                         "newbalanceOrig":clean_df["newbalanceOrig"],
                         "isFraud":clean_df["isFraud"],
                         "oldbalanceDest":clean_df["oldbalanceDest"],
                         "newbalanceDest":clean_df["newbalanceDest"]

    
}) 

# Apply one-hot encoding
TypeA_encoded = pd.get_dummies(TypeA_df,columns=["transaction_type"],drop_first=True)

#Convert any boolean values to intergers (if needed)
TypeA_encoded = TypeA_encoded.astype(int)


# Create dataframe
df_A= pd.DataFrame(TypeA_encoded)
df_A.to_csv("Cleaned_dateset.csv")