In [1]:
#import panda package
import pandas as pd

In [2]:
clean_df=pd.read_csv("/Users/sa19/Desktop/Phase2TLAB1/PS_20174392719_1491204439457_log copy.csv")

In [3]:
#Find and sum all null values within dataset
clean_df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [4]:
#Find duplicates within dataset
clean_df.duplicated().sum()

0

In [5]:
#Drop unwanted columns such as step,nameDest,nameOrig
clean_df.drop(columns=["step","nameDest","nameOrig"],inplace=True)

In [8]:
#Normalize amount column from min to max
clean_df["amount"] = (clean_df["amount"] - clean_df["amount"].min()) / (clean_df["amount"].max() - clean_df["amount"].min())  
#show first 500 row fo dataset
clean_df.head (500)

,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,PAYMENT,0.000106,170136.00,160296.36,0.00,0.00,0,0
1,PAYMENT,0.000020,21249.00,19384.72,0.00,0.00,0,0
2,TRANSFER,0.000002,181.00,0.00,0.00,0.00,1,0
3,CASH_OUT,0.000002,181.00,0.00,21182.00,0.00,1,0
4,PAYMENT,0.000126,41554.00,29885.86,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...
495,CASH_IN,0.001735,7965270.68,8125617.99,724867.22,1517262.16,0,0
496,CASH_IN,0.003129,8125617.99,8414890.75,413976.60,31469.78,0,0
497,CASH_IN,0.000684,8414890.75,8478080.00,101925.00,0.00,0,0
498,CASH_IN,0.002128,8478080.00,8674805.32,2248012.90,3940085.21,0,0
499,PAYMENT,0.000064,10252.00,4369.68,0.00,0.00,0,0

In [ ]:
#rename columns 
clean_df.rename()